[defaults]
inventory = inventories/templ-local
roles_path = roles
local_tmp = .ansible/tmp
remote_tmp = /tmp/.ansible-docker-swarm/tmp
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
forks = 3

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=no -o ControlPath=none
transfer_method = piped
