[Interface]
PrivateKey = {{ vault_lima_wireguard_private_keys[item.name] }}
Address = {{ item.wg_address }}/24
ListenPort = {{ wireguard_listen_port }}
SaveConfig = false

[Peer]
# macOS; endpoint is learned when macOS initiates.
PublicKey = {{ vault_lima_wireguard_public_keys.macos }}
AllowedIPs = {{ wireguard_macos_address }}/32
{% for peer in lima_nodes if peer.name != item.name %}

[Peer]
# {{ peer.name }}
PublicKey = {{ vault_lima_wireguard_public_keys[peer.name] }}
AllowedIPs = {{ peer.wg_address }}/32
Endpoint = lima-{{ peer.name }}.internal:{{ wireguard_listen_port }}
PersistentKeepalive = 25
{% endfor %}
