[Interface]
PrivateKey = {{ vault_prod_wireguard_private_keys.macos }}
Address = {{ prod_wireguard_controller_address }}/{{ prod_wireguard_prefix_length }}
SaveConfig = false
{% for node in groups['wireguard_nodes'] | sort %}

[Peer]
# {{ node }}
PublicKey = {{ vault_prod_wireguard_public_keys[node] }}
AllowedIPs = {{ prod_wireguard_node_addresses[node] }}/32
Endpoint = {{ hostvars[node].prod_wireguard_endpoint }}:{{ prod_wireguard_listen_port }}
PersistentKeepalive = 25
{% endfor %}
