[Unit]
Description=Update MaxMind GeoLite2 databases for cluster GeoDNS
Documentation=https://dev.maxmind.com/geoip/updating-databases

[Timer]
OnCalendar={{ cluster_geoip_timer_oncalendar }}
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
