{
  "backup_tag": {{ (deployment_name ~ '-swarm-state') | to_json }},
  "deployment_name": {{ deployment_name | to_json }},
  "lock_path": {{ ('/run/' ~ deployment_name ~ '-backup.lock') | to_json }},
  "manager": {{ inventory_hostname | to_json }},
  "manager_address": {{ swarm_node_address | to_json }},
  "object_prefix": {{ swarm_backup_object_prefix | to_json }},
  "restic_binary": {{ swarm_backup_restic_binary | to_json }},
  "restic_cache_dir": {{ (swarm_backup_runtime_dir ~ '/cache') | to_json }},
  "restic_password": {{ swarm_backup_restic_password | to_json }},
  "retention_days": {{ swarm_backup_retention_days | int }},
  "runtime_dir": {{ swarm_backup_runtime_dir | to_json }},
  "s3_access_key": {{ swarm_backup_s3_access_key | to_json }},
  "s3_bucket": {{ swarm_backup_s3_bucket | to_json }},
  "s3_bucket_lookup": {{ swarm_backup_s3_bucket_lookup | to_json }},
  "s3_endpoint": {{ swarm_backup_s3_endpoint | to_json }},
  "s3_region": {{ swarm_backup_s3_region | to_json }},
  "s3_secret_key": {{ swarm_backup_s3_secret_key | to_json }}
}
