{# One public static dial target per line: name pubkey mesh_ip endpoint #}
{% for node in groups['nodes'] | sort %}
{% set node_vars = hostvars[node] %}
{% set endpoint = node_vars.public_ip | default('') | string %}
{% if not (node_vars.roaming | default(false) | bool)
   and endpoint | length > 0
   and not (endpoint is match('^REPLACE_WITH_')) %}
{{ node }} {{ vault_wireguard_public_keys[node] }} {{ node_vars.private_address }} {{ endpoint }}:{{ node_listen_port }}
{% endif %}
{% endfor %}
