<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{ node_launchd_label }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ wireguard_controller_wg_quick.stdout }}</string>
    <string>up</string>
    <string>{{ node_config_path }}</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>{{ wireguard_controller_wg_quick.stdout | dirname }}:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
